# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\personal\Sample\Tharshith_Pycharm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
